body{
    margin: 0;
}

nav{
    border: 3px solid red;
    display: flex;
    justify-content: space-between;
    
}

 nav ul {
    display: flex;
}

nav .logo {

} 

nav ul li {
    text-decoration: none;
}